header {
    background-color: white;
    transition: all .4s;
    position: sticky;
    top: 0;
    padding: 0 5px;
    -webkit-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.75);
}

header nav {
    text-align: center;
    line-height: 70px;
}

#logo-header {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    float: left;
    margin-top: 2.5px;
    border: 10px solid #5e5a5a;
    transition: all .8s ease-in-out;
    z-index: 999;
}

#logo-header:hover {
    transform: rotate(360deg);
}

/* header nav img {
    height: 55px;
    width: 55px;
    display: none;
} */

header nav a {
    text-decoration: none;
    font-size: 2.6em;
    /* color: #624ADC;
     */
    color: white;
    margin: 0 4vw;
    padding: 0;
    transition: all .5s;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

header nav a.active {
    border-bottom: 1px solid white;
    padding-bottom: 7px;
}

header nav a:hover:not(.active) {
    border-top: 1px solid #d4bf79;
    border-bottom: 1px solid #d4bf79;
    padding: 4px 0;
}

.responsive-menu-btn {
    display: none;
}

#shop-header {
    background-color: var(--primary);
    margin-top: 0;
    border-top: 1px solid #d4bf79;
    transition: all .4s;
    position: sticky;
    top: 70px;
    border-bottom: 1px solid #d4bf79;
    z-index: 2;
}

#shop-header ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
}

#shop-header ul li {
    display: inline;
}

#shop-header ul li a {
    text-decoration: none;
    color: #d4bf79;
    margin: 0 5vw;
    font-size: 1.4em;
}













@media only screen and (max-width: 600px) {

    .responsive-menu-btn {
        display: block;
    }

    header {}

    header nav a {
        display: none;
    }

    .responsive-menu-btn {
        float: right;
        font-size: 1.5em;
        background-color: transparent;
        color: white;
        border: none;
        margin-top: 20px;
        margin-right: 15px;
    }

    #responsive-menu-wrapper {
        padding-top: 45px;
        padding-bottom: 15px;
    }

    #responsive-menu-wrapper details {
        color: white;
        margin-bottom: -30px;
    }

    #responsive-menu-wrapper ul {
        list-style-type: none;
        text-align: center;
        padding-left: 0;
    }

    #responsive-menu-wrapper ul li {
        margin-top: 15px;
    }

    #responsive-menu-wrapper ul li a {
        font-size: 1.8em;
        text-decoration: none;
        color: white;

    }

    #mobile-shop-wrapper dl {
        position: relative;
        left: 30px;
    }

    #mobile-shop-wrapper dd {
        font-size: .9em;
    }

    #mobile-shop-wrapper dl dt {
        color: #ffbf00
    }

}